{{ 'cta.css' |   asset_url |  stylesheet_tag }}

<section class="final-cta">

  <h2>{{ section.settings.title }}</h2>

  <p>{{ section.settings.text }}</p>

  <a href="{{ section.settings.button_link }}" class="cta-button">
    {{ section.settings.button_text }}
  </a>

</section>

{% schema %}
  {
    "name": "Final CTA",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título",
        "default":"Pronto para deixar seus pés mais divertidos?"      }, {
        "type": "textarea",
        "id": "text",
        "label": "Texto",
        "default":"Escolha sua meia favorita agora mesmo" 
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Texto do botão",
        "default": "Compre agora"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Link do botão"
      }
    ]
  }
{% endschema %}